body {
  margin:0;
  padding:0;
}
#map {
  position: absolute;
  top:0;
  bottom:0;
  right:0;
  left:0;
}
#legend {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 11rem;
  background-color: rgba(32, 32, 32, 0.6);
  padding: 0.5em;
  border-radius: 5px;
}
#legend span{
  height: 1rem;
  width: 1rem;
  display: inline-block;
}
